html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row [class*="col"] {
    float: left;
}

[class*="container"] {
    margin: 0 auto;
}

.container-full{
    width: 100%;
}

.container-medium {
    max-width: 1160px;
}

.container-small {
    max-width: 970px;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 0px 20px;
    text-align: center;
    line-height: 30px;
}

/* header */

.col.col-fr {
    float: right;
}

.col .list-header {
    padding: 0px 10px;
}

.list-header li {
    padding: 0px 25px;
    vertical-align: middle;
}

header .col {
    padding: 18px 0px;
}

/* jumbo */

#jumbo {
    background-color: #b4d0e7;
    padding-top: 65px;
}

#jumbo .title-jumbo {
    font-size: 65px;
    padding-bottom: 25px;
}

#jumbo .description-jumbo {
    margin-bottom: 25px;
}

#jumbo .description2-jumbo {
    margin-top: 10px;
    margin-bottom: 40px;
}

#jumbo i {
    font-size: 50px;
}

#jumbo .container-medium {
    padding: 5px 10px;
}

#jumbo .col-8 {
    padding: 0px 20px;
    margin-bottom: -80px;
}