html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row [class*="col"] {
    float: left;
}

[class*="container"] {
    margin: 0 auto;
}

.container-full{
    width: 100%;
}

.container-medium {
    max-width: 1160px;
}

.container-small {
    max-width: 970px;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
}

.col-8 {
    width: 66.66%;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 0px 20px;
    text-align: center;
    line-height: 30px;
}

/* header */

.col.col-fr {
    float: right;
}

.col .list-header {
    padding: 0px 10px;
}

.list-header li {
    padding: 0px 25px;
    vertical-align: middle;
}

header .col {
    padding: 18px 0px;
}

/* jumbo */

#jumbo {
    background-color: #b4d0e7;
    padding-top: 65px;
}

#jumbo .title-jumbo {
    font-size: 65px;
    padding-bottom: 25px;
}

#jumbo .description-jumbo {
    margin-bottom: 25px;
}

#jumbo .description2-jumbo {
    margin-top: 10px;
    margin-bottom: 40px;
}

#jumbo i {
    font-size: 50px;
}

#jumbo .container-medium {
    padding: 5px 10px;
}

#jumbo .col-8 {
    padding: 0px 20px;
    margin-bottom: -80px;
}

/* plan */

#plan {
    padding-top: 200px;
}

#plan .title-plan {
    font-size: 35px;
}

#plan .radio {
    display: inline-block;
    padding: 35px 0px 35px 5px;
}

#plan .card {
    padding: 0px 10px;
    border: 2px solid #eee;
    margin-bottom: 50px;
}

#plan .card-body {
    padding: 25px 25px;
}

#plan .card-footer {
    padding: 5px 25px 150px 25px;
}

.card-header .title-card {
    border-bottom: 2px solid #eee;
    text-align: center;
    padding: 12px 0px;
}

.card .card-body::after {
    content: '';
    display: block;
    background-color: #eee;
    height: 2px;
    width: 50px;
}

.card-body .title-bodycard {
    font-size: 25px;
    margin-bottom: 15px;
}

.card-body .price-plan {
    font-weight: 800;
    margin-bottom: 7px;
}

.card-body .time-plan {
    color: grey;
    margin-bottom: 40px;
}

.card-body .list-plan li {
    padding: 15px 0px;
}

.card-body .button-plan {
    padding: 0px 40px;
}

.card-body .buy-now {
    color: #78abff;
    text-decoration: underline;
    padding: 25px 0px;
}

.card-footer .title-footercard {
    font-size: 14px;
    margin-bottom: 15px;
}

.card-footer .list-footercard li {
    padding: 10px 0px;
}

.card-footer .list-footercard li i {
    color: #156dff;
}

#plan .row {
    margin: 0 -20px;
}

#plan .row [class*="col"] {
    padding: 0 5px;
}

.card-body-1 .fr {
    float: right;
}

.card-body-1 .fl {
    float: left;
}

.card-body-1 .title-bodycard {
    font-size: 25px;
}

.card-body-1 {
    padding: 25px 25px;
}

.card-footer-1 .title-footercard {
    font-size: 14px;
    padding: 25px 25px 0px 25px;
}

.card-footer-1 .description-footercard {
    padding: 20px 25px 30px 25px;
}

/* partner */

#partner {
    padding: 60px 0;
}

#partner .title-partner {
    font-size: 25px;
    padding-bottom: 20px;
}

#partner .description-partner {
    padding-bottom: 20px;
}

#partner .button.button-partner {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#partner img {
    padding-right: 50px;
}

#partner .col-4.partner-text {
    padding-top: 30px;
}