html {
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

li {
    list-style: none;
    display: inline-block;
}

img {
    max-width: 100%;
}

.row::after {
    content: '';
    display: block;
    clear: both;
}

.row [class*="col"] {
    float: left;
}

[class*="container"] {
    margin: 0 auto;
}

.container-full{
    width: 100%;
}

.container-medium {
    max-width: 1160px;
}

.container-small {
    max-width: 970px;
}

.col-12 {
    width: 100%;
}

.col-4 {
    width: 33.33%;
}

.col-2 {
    width: 20%;
}

.col-8 {
    width: 66.66%;
}

.button {
    background-color: #0061ff;
    color: white;
    padding: 0px 20px;
    text-align: center;
    line-height: 30px;
}

/* header */

.col.col-fr {
    float: right;
}

.col .list-header {
    padding: 0px 10px;
}

.list-header li {
    padding: 0px 25px;
    vertical-align: middle;
}

header .col {
    padding: 18px 0px;
}

/* jumbo */

#jumbo {
    background-color: #b4d0e7;
    padding-top: 65px;
}

#jumbo .title-jumbo {
    font-size: 65px;
    padding-bottom: 25px;
}

#jumbo .description-jumbo {
    margin-bottom: 25px;
}

#jumbo .description2-jumbo {
    margin-top: 10px;
    margin-bottom: 40px;
}

#jumbo i {
    font-size: 50px;
}

#jumbo .container-medium {
    padding: 5px 10px;
}

#jumbo .col-8 {
    padding: 0px 20px;
    margin-bottom: -80px;
}

/* plan */

#plan {
    padding-top: 200px;
}

#plan .title-plan {
    font-size: 35px;
}

#plan .radio {
    display: inline-block;
    padding: 35px 0px 35px 5px;
}

#plan .card {
    padding: 0px 10px;
    border: 2px solid #eee;
    margin-bottom: 50px;
}

#plan .card-body {
    padding: 25px 25px;
}

#plan .card-footer {
    padding: 5px 25px 150px 25px;
}

.card-header .title-card {
    border-bottom: 2px solid #eee;
    text-align: center;
    padding: 12px 0px;
}

.card .card-body::after {
    content: '';
    display: block;
    background-color: #eee;
    height: 2px;
    width: 50px;
}

.card-body .title-bodycard {
    font-size: 25px;
    margin-bottom: 15px;
}

.card-body .price-plan {
    font-weight: 800;
    margin-bottom: 7px;
}

.card-body .time-plan {
    color: grey;
    margin-bottom: 40px;
}

.card-body .list-plan li {
    padding: 15px 0px;
}

.card-body .button-plan {
    padding: 0px 40px;
}

.card-body .buy-now {
    color: #78abff;
    text-decoration: underline;
    padding: 25px 0px;
}

.card-footer .title-footercard {
    font-size: 14px;
    margin-bottom: 15px;
}

.card-footer .list-footercard li {
    padding: 10px 0px;
}

.card-footer .list-footercard li i {
    color: #156dff;
}

#plan .row {
    margin: 0 -20px;
}

#plan .row [class*="col"] {
    padding: 0 5px;
}

.card-body-1 .fr {
    float: right;
}

.card-body-1 .fl {
    float: left;
}

.card-body-1 .title-bodycard {
    font-size: 25px;
}

.card-body-1 {
    padding: 25px 25px;
}

.card-footer-1 .title-footercard {
    font-size: 14px;
    padding: 25px 25px 0px 25px;
}

.card-footer-1 .description-footercard {
    padding: 20px 25px 30px 25px;
}

/* partner */

#partner {
    padding: 60px 0;
}

#partner .title-partner {
    font-size: 25px;
    padding-bottom: 20px;
}

#partner .description-partner {
    padding-bottom: 20px;
}

#partner .button.button-partner {
    background-color: white;
    color: black;
    border: 1px solid black;
}

#partner img {
    padding-right: 50px;
}

#partner .col-4.partner-text {
    padding-top: 30px;
}

/* business */

#business .title-business {
    font-size: 35px;
    padding-bottom: 50px;
}

#business .link-business {
    text-decoration: underline;
}

#business .description-business {
    font-size: 20px;
    padding-bottom: 20px;
}

#business .col-4 {
    padding: 0px 20px 100px 20px;
}

/* team */

#team .container-full .row {
    background-color: #eee;
}

#team .title-team {
    font-size: 35px;
    padding-bottom: 40px;
    width: 60%;
}

#team .link-team {
    text-decoration: underline;
    color: #5394ff;
    padding-bottom: 60px;
}

#team .col-team {
    padding: 0px 20px;
}

#team .img-small {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate( -50%, -50% );
}

#team .img-team {
    width: 50%;
    height: 300px;
    position: relative;
    display: inline-block;
    margin: -2px -2px;
}

#team .img-center {
    width: 25%;
    height: 25%;
}

#team .img-florida {
    height: 10%;
}

#team .col-big {
    width: 40%;
}

#team .col-small {
    width: 30%;
}

#team .color-green {
    background-color: #a2d39b;
    border: 20px solid #d0e9cd;
}

#team .color-brown {
    background-color: #61082b;
}

#team .color-blue {
    background-color: #0093ce;
}

#team .color-red {
    background-color: #ff1c1c;
}

#team .color-red2 {
    background-color: #d5001f;
}

#team .color-blue2 {
    background-color: #b4d0e7;
}

#team .color-blue3 {
    background-color: #0d2481;
}

#team .color-yellow {
    background-color: #ffd830;
}

#team .col-big {
    padding: 80px 50px;
}

#team .border-team::after {
    content: '';
    display: block;
    background-color: #ccc;
    height: 2px;
    width: 50px;
    margin-top: 50px;
}

#team .border-team {
    padding-bottom: 50px;
}

#team .description-team {
    padding-bottom: 50px;
}

/* free-trial */

#free-trial {
    background-color: #b4d0e7;
}

#free-trial .col-12 {
    padding: 150px 10px;
}

#free-trial .title-free-trial {
    font-size: 35px;
    color: #641133;
    width: 50%;
    float: left;
}

#free-trial .button-free-trial {
    color: black;
    background-color: white;
    padding: 0px 30px;
    float: right;
}

/* faq */

#faq {
    padding-bottom: 150px;
}

#faq .title-faq {
    font-size: 35px;
    width: 40%;
    padding: 100px 10px 50px 10px;
}

#faq .description-faq {
    font-size: 16px;
    float: left;
}

#faq i {
    font-size: 20px;
    vertical-align: middle;
    float: right;
}

#faq .col-12.pad {
    padding: 30px 10px;
}

#faq hr {
    color: #ccc;
}

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 100px 10px;
}

footer ul li {
    display: block;
    padding: 5px 0px;
}

footer ul a {
    display: block;
}

footer ul h6 {
    font-size: 18px;
    padding-bottom: 20px;
}

footer .row {
    margin-bottom: 100px;
}

footer .row:last-child::before {
    content: '';
    display: block;
    background-color: #ccc;
    height: 1px;
    width: 15%;
}

footer p, i {
    display: inline-block;
}

footer i:last-child {
    vertical-align: text-bottom;
}

footer .col-12 {
    color: #ccc;
    padding-top: 50px;
}